<h1>Rewards Shop</h1>

<table style="width:25%">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Value</th>
  </tr>
  <% @rewards.each do |reward| %>
    <tr>
      <td><%= reward.id %></td>
      <td><%= link_to reward.name, reward_path(reward) %></td>
      <td><%= reward.value %></td>
    </tr>
  <% end %>
</table>
